
li{
  text-decoration: none;
  
}
  ul{
    list-style: none;
}
a{

    text-decoration: none;
}
li{
    list-style: none;
}
p {
    line-height: 1.7em;
    margin-bottom: 1.6em;
}
img{
    width: 100%
}

.header-btn {
    box-sizing: border-box;
    overflow: hidden;
   
}
body{
    font-family: 
HankenGrotesk-bold
    ;
    overflow-x:hidden ;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1.1em;
}